<section class="footer">
    <section class="first-line">
        <section class="logo">
            <img src="https://res.cloudinary.com/dcbbqlssh/image/upload/v1719736240/loopstudios/logo_ppyyan.svg" alt="Loopstudios logo"/>
        </section>
        <section class="social-media">
            <a href="https://www.facebook.com/"><img src="https://res.cloudinary.com/dcbbqlssh/image/upload/v1719736244/loopstudios/icon-facebook_mveasm.svg" alt="Facebook"/></a>
            <a href="https://www.twitter.com/"><img src="https://res.cloudinary.com/dcbbqlssh/image/upload/v1719736240/loopstudios/icon-twitter_y0wyow.svg" alt="Twitter"/></a>
            <a href="https://www.pinterest.com/"><img src="https://res.cloudinary.com/dcbbqlssh/image/upload/v1719736245/loopstudios/icon-pinterest_zgjnmc.svg" alt="Pinterest"/></a>
            <a href="https://www.instagram.com/"><img src="https://res.cloudinary.com/dcbbqlssh/image/upload/v1719736245/loopstudios/icon-instagram_xhu8jy.svg" alt="Instagram"/></a>
        </section>
    </section>
    <section class="second-line">
        <section class="footer-links">
            <a href="#">About</a>
            <a href="#">Careers</a>
            <a href="#">Events</a>
            <a href="#">Products</a>
            <a href="#">Support</a>
        </section>
        <section class="footer-legal">
            <small>© 2021 Loopstudios. All rights reserved.</small>
        </section>
    </section>
</section>
