@import "../../variables.scss";

:host {
  background-color: $Black;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 160px;
  margin-top: 183px;
  font-family: $font;

  .footer {
    width: 1111px;
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    gap: 24px;

    .first-line {
      display: flex;
      justify-content: space-between;

      .logo {
        width: 144px;
        height: 24px;

        img {
          width: 100%;
        }
      }

      .social-media {
        display: flex;
        gap: 16px;

        a {
          height: 24px;
          width: 24px;

          img {
            cursor: pointer;
          }
          @include hover-underline-effect;
        }
      }
    }

    .second-line {
      display: flex;
      justify-content: space-between;
      line-height: 25px;

      .footer-links {
        display: flex;
        gap: 32px;

        a {
          text-decoration: none;
          font-size: 0.938rem;
          color: $White;
          cursor: pointer;
          @include hover-underline-effect;
        }
      }

      .footer-legal {
        color: $Dark-Gray;
        small {
          font-size: 0.938rem;
        }
      }
    }
  }
}
