@import '../../variables.scss';

:host {
    display: flex;
    align-items: center;
    height: 100%;
    width: 1111px;

    @include respond-to(phone) {
        width: 375px;
    }
    
    section {
        border: solid 1px white;
        width: 650px;
        height: 278px;
        color: white;
        font-family: $font-hero;
        font-size: 72px;
        font-weight: lighter;
        padding: 40px;
        
        @include respond-to(phone) {
            width: 327px;
            height: 196px;
            font-size: 40px;
            padding: 26px 24px 23px 24px;
            line-height: 38px;
        }
    }
}
