<section class="leader-vr">
    <figure>
        <img src="https://res.cloudinary.com/dcbbqlssh/image/upload/v1719736241/loopstudios/desktop/image-interactive_u24fwe.jpg" alt="Person using VR headset"/>
    </figure>
    <article>
        <h2>THE LEADER IN INTERACTIVE VR</h2>
        <p>
            Founded in 2011, Loopstudios has been producing world-class virtual reality projects for some of the best companies around the globe. Our award-winning creations have transformed<br/>businesses through digital experiences that bind to their brand.
        </p>
    </article>
</section>
